# ---------------------
# MATLAB .gitignore
# ---------------------

# Autosave / backup files
*.asv
*.m~

# Folders
VLIZ_sampleDeployments/
underDevelopment/
release/
resources/
VALKYRIEapp/

# Ignore .zip archives
*.zip

# Ignore project file
*.prj
*.mlproj

# Ignore installer files
*.exe
*.msi
